* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
}

button {
  background-color: rgb(115, 83, 174);
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

input {
  border-radius: 3px;
  margin-right: 3px;
  padding: 10px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
}
